<% if repository.new_record? %>
	<p>
	  <em><%= l(:repositories_svn_creation) %></em>
	</p>
<% else %>
<p>
	<%= form.text_field(:url, :size => 100, :value => repository.svn_repo_url, :disabled => 'disabled') %>
	<br />
</p>
<% end %>
